*{
    margin: 0;
    padding: 0;
}

#contentheader{
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 40px #00000029;
    opacity: 1
}
li{
    
    display: inline-block;
    letter-spacing: 0.12em;
    padding: 0em 0.35em;
}
ul{
    list-style: none;
    text-align: center;  
    color: rgb(221, 214, 214);
    margin: 20px;
    margin-right: 40px;
    padding: 0em;  
}
#login{
    background: #FAFAFA 0% 0% no-repeat padding-box;
    border: 1px solid #50B9C9;
    border-radius: 9px;
    opacity: 1;
    top: 13px;
    left: 138px;
    width: 120px;
    height: 42px;
    text-align: center;
    font: normal normal normal 20px/29px DIN Next LT W23;
    letter-spacing: 0px;
    color: #00ADBB;
}
  
#regster{
    top: 13px;
    left: 350px;
    width: 120px;
    height: 42px;
    background: #00ADBB 0% 0% no-repeat padding-box;
    border-radius: 9px;
    opacity: 1;
    text-align: center;
    font: normal normal normal 20px/29px DIN Next LT W23;
    letter-spacing: 0px;
    color: #FFFFFF;

}
#log{
    top: 18px;
    left: 1733px;
    width: 178px;
    height: 38px;
    display: flex;
    display: inline-block;
}
.section{
    width: 100%;
    height: 464px;
    background: #F8F8F8 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.rectangle-01{
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-wrap: wrap;
    width: 732px;
    height: 282px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0.5px 60px #DBDBDB29;
    border-radius: 50px;
    opacity: 1;
}
.text-container{
    text-align: center;
    font: normal normal normal 30px/44px DIN Next LT W23;
    letter-spacing: 0px;
    color: #BFBFBF;
    opacity: 1;
}
.section-img{
    margin-top: -100px;
}
